* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}

@font-face {
  font-family: wslight;
  src: url(WorkSans-Light.ttf);
  /*src: url(WorkSans-Light.ttf);*/
}

@font-face {
  font-family: wsregular;
  src: url(WorkSans-Regular.ttf);
  /*src: url(WorkSans-Regular.ttf);*/
}

@font-face {
  font-family: wsmedium;
  /* src: url(/Users/nicholasmoore/Desktop/portfolio2021/personalPortfolio/Work_Sans/static/WorkSans-Medium.ttf); */
  src: url(WorkSans-Medium.ttf);
}

@font-face {
  font-family: wsthin;
  /* src: url(/Users/nicholasmoore/Desktop/portfolio2021/personalPortfolio/Work_Sans/static/WorkSans-Thin.ttf); */
  src: url(WorkSans-Thin.ttf);
}

body {
  background-color: #323639;
}

@media only screen and (max-width: 750px) {
  .lightText {
    font-family: wslight;
    font-size: 15px;
    cursor: default;
  }
  .lightLink {
    font-family: wslight;
    font-size: 15px;
    cursor: pointer;
  }
  .regularHeader {
    display: none;
  }
  .hamburgerHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 10vh;
  }
  .hamburgerHeader .hamburgerButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40px;
    height: 30px;
    cursor: pointer;
  }
  .hamburgerHeader .hamburgerButton .bar {
    border-radius: 2px;
    height: 4px;
    width: 100%;
    background-color: white;
  }
  .hamburgerLinks {
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    pointer-events: none;
    opacity: 0;
    z-index: 2;
    background-color: #323639;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90vh;
    width: 100vw;
  }
  .hamburgerLinks a {
    font-size: 20px;
  }
  .fade {
    opacity: 1;
    pointer-events: all;
  }
  #aboutPage #aboutMe {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    width: 75vw;
    row-gap: 5vw;
  }
  #aboutPage #aboutMe .text {
    font-size: 13px;
  }
  #aboutPage #aboutMe img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  #workPage .desktopProjectsDashboard {
    display: none;
  }
  #workPage .mobileProjectsDashboard {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(375px, 0.6fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(375px, 0.6fr));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  #workPage .mobileProjectsDashboard .projectBox {
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  #workPage .mobileProjectsDashboard .projectBox a {
    z-index: 1;
    background-color: #44444443;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    text-align: center;
    border: solid #818181 1px;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #workPage .mobileProjectsDashboard .projectBox .bgImage {
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .projectPage .projectPageSection {
    padding-top: 100px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
  }
  .projectPage .projectPageSection p {
    color: #181818;
  }
  .projectPage .projectPageSection .projectDescription {
    text-align: left;
    width: 70vw;
  }
  .projectPage .projectPageSection .projectDescription p {
    width: 35vw;
  }
  .projectPage .projectPageSection .projectImages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
  }
  .projectPage .projectPageSection .projectImages img {
    width: 70vw;
    height: 45vw;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 751px) {
  .lightText {
    font-family: wslight;
    font-size: 15px;
    cursor: default;
  }
  .lightLink {
    font-family: wslight;
    font-size: 15px;
    cursor: pointer;
  }
  .hamburgerMenu {
    display: none;
  }
  .hamburgerLinks {
    display: none;
  }
  .regularHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: wslight;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
  }
  .regularHeader .logo {
    cursor: pointer;
  }
  .regularHeader #date {
    cursor: default;
  }
  .regularHeader .websiteLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    width: 30vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .regularHeader .websiteLinks a {
    cursor: pointer;
  }
  #aboutPage #aboutMe {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 50vw;
    row-gap: 5vw;
  }
  #aboutPage #aboutMe img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 50vw;
    height: 50vw;
  }
  #workPage .desktopProjectsDashboard {
    display: none;
  }
  #workPage .mobileProjectsDashboard {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50vw 50vw;
        grid-template-columns: 50vw 50vw;
  }
  #workPage .mobileProjectsDashboard .projectBox {
    height: 32vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  #workPage .mobileProjectsDashboard .projectBox a {
    z-index: 1;
    background-color: #44444443;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    text-align: center;
    border: solid #818181 1px;
    width: 40vw;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #workPage .mobileProjectsDashboard .projectBox .bgImage {
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .projectPage .projectPageSection {
    margin-top: 25px;
    padding-top: 100px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
  }
  .projectPage .projectPageSection p {
    color: #181818;
  }
  .projectPage .projectPageSection .projectDescription {
    text-align: left;
    width: 70vw;
  }
  .projectPage .projectPageSection .projectDescription p {
    width: 35vw;
  }
  .projectPage .projectPageSection .projectImages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
  }
  .projectPage .projectPageSection .projectImages img {
    width: 70vw;
    height: 45vw;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 1100px) {
  .lightText {
    font-family: wslight;
    font-size: 15px;
    cursor: default;
  }
  .lightLink {
    font-family: wslight;
    font-size: 15px;
    cursor: pointer;
  }
  .hamburgerMenu {
    display: none;
  }
  .hamburgerLinks {
    display: none;
  }
  .regularHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: wslight;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
  }
  .regularHeader .logo {
    cursor: pointer;
  }
  .regularHeader #date {
    cursor: default;
  }
  .regularHeader .websiteLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    width: 30vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .regularHeader .websiteLinks a {
    cursor: pointer;
  }
  #aboutPage #aboutMe {
    margin-top: 10vh;
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #aboutPage #aboutMe #text {
    margin-left: 3vw;
  }
  #aboutPage #aboutMe #profilePhotoDiv {
    margin-right: 3vw;
  }
  #aboutPage #aboutMe #profilePhotoDiv img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 40vw;
    height: 700px;
  }
  #workPage .mobileProjectsDashboard {
    display: none;
  }
  #workPage .desktopProjectsDashboard {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20vw 80vw;
        grid-template-columns: 20vw 80vw;
    height: 70vh;
    background-color: antiquewhite;
    overflow: hidden;
  }
  #workPage .desktopProjectsDashboard #owlImage {
    opacity: 1;
  }
  #workPage .desktopProjectsDashboard #enmoImage {
    opacity: 0;
  }
  #workPage .desktopProjectsDashboard #assistantImage {
    opacity: 0;
  }
  #workPage .desktopProjectsDashboard #sketch360Image {
    opacity: 0;
  }
  #workPage .desktopProjectsDashboard #projectImage {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  #workPage .desktopProjectsDashboard #projectImage .bgImage {
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  #workPage .desktopProjectsDashboard .projectsPanel {
    background-color: #0f0f0f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 25px;
  }
  #workPage .desktopProjectsDashboard .projectsPanel a {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .projectPage .projectPageSection {
    margin-top: 25px;
    padding-top: 100px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
  }
  .projectPage .projectPageSection p {
    color: #181818;
  }
  .projectPage .projectPageSection .projectDescription {
    text-align: left;
    width: 70vw;
  }
  .projectPage .projectPageSection .projectDescription p {
    width: 35vw;
  }
  .projectPage .projectPageSection .projectImages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
  }
  .projectPage .projectPageSection .projectImages img {
    width: 70vw;
    height: 45vw;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=styleDoc.css.map */